<form id="coming-soon" class="out-of-stock">
  <div class="out-of-stock__modal js-modal hidden">
    <div class="modal-content" id="coming-soon-modal">
      {% include 'product__out-of-stock' with modal_type: 'coming-soon' %}
    </div>
  </div>
</form>