<div class="addresses__modal modal-content modal-content--address" id="delete-address-{{ address.id }}-modal">
  <div class="addresses__modal-inner">
    <button type="button" class="modal-close modal-close--account js-close-modal" name="close" role="button" aria-label="button">
      {%- include 'icons' with selected_icon: 'close', icon_class:'icon-close icon-close--small icon-close--account', icon_fill: '#FFFFFF', icon_stroke: '#000000', title: 'general.menu.close', desc: 'general.menu.toggle_item' -%}
    </button>

    <div class="addresses__modal-form addresses__modal-form--delete">
      <div class="customer__logo">
        <img src="{{ settings.logo | img_url: '200x' }}" alt="{{ shop.name }}" />
      </div>

      {%- include 'form--delete_address' with customer_address: address -%}
      
    </div>
  </div>
</div>