<form id="out-of-stock" class="out-of-stock">
  <div class="out-of-stock__modal js-modal hidden">
    <div class="modal-content" id="my-signup-modal">
      {% include 'product__out-of-stock' %}
    </div>
  </div>
</form>