{% comment %} Placeholder for the add modal {% endcomment %}
<div class="modal-content" id="quick-add-modal"></div>
    
<button class="hide" data-modal-target="#quick-add-modal" id="modal-quick-add-btn" aria-label="Quick add"></button>

<section class="product__related">
  <div class="js-product-related"></div>
  <div class="product__related-slider js-related-product-gallery slider">
  </div>
</section>