{%- comment -%}

Default collection template.

Documentation: https://help.shopify.com/en/themes/development/templates/customers-account

Objects Referenced:
 • customer https://help.shopify.com/en/themes/liquid/objects/customer
 • settings https://help.shopify.com/en/themes/liquid/objects#settings

{%- endcomment -%}

<article class="account">
  <div class="account__customer-details">

    <div class="account__dashboard {% if customer.orders.size == 0 %} has-no-order{% endif %} {% if settings.account_dashboard_switch_side %}account__dashboard--right-side{%- else -%}account__dashboard--left-side{% endif %}">
      
      {%- include 'account__header' -%}

      {%- include 'account__order-history' with orders_per_page: 3, account_template: 'recent-order' -%}

    </div>

    <div class="account__image-wrapper hide-until@md">
      {%- assign account_image = settings.account_dashboard_image -%}
      {%- include 'image--responsive' with image: account_image, wrapper_class: 'account__image' -%}
    </div>
  </div>

  {%- include 'customer__activation-modal' -%}

  <button class="js-open-modal js-customer-activation-button" data-modal-target="#thank-you-registration"></button>

</article>
