{%- comment -%}

Default customer registration template.

Documentation: https://help.shopify.com/en/themes/development/templates/customers-reset-password

{%- endcomment -%}

<article class="customer customer--recover">
	<div class="customer__logo">
    <img src="{{ settings.logo_light | img_url: '200x' }}" alt="{{ shop.name }}" />
  </div>
  <h1 class="customer__recover-title">{{ 'customer.reset_password.title' | t }}</h1>
  <p class="customer__recover-description">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
  {% include 'form--reset_customer_password' %}
</article>
