{% if section.settings.title != blank %}
  <p class="our-story__header__title heading--1">{{ section.settings.title | upcase }}</p>
{% endif %}

{% if section.settings.caption != blank %}
  <p class="our-story__header__caption">{{ section.settings.caption }}</p>
{% endif %}

{% schema %}
  {
    "name": "Our story header",
    "class": "our-story__header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },  
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Fallback background color"
      }
    ]
  }
{% endschema %}

<style>
  .our-story__header {
    background-color: {{ section.settings.color }};
    {% if section.settings.image %}
      background-image: url("{{ section.settings.image | img_url: 'master' }}");
    {% endif %}
  }
</style>